{% extends 'shopapp/base.html' %}

{% block title %}
    <title>Orders list</title>
{% endblock %}

{% block body %}
    <h1>Orders</h1>
    {% if orders %}
        <div>
            {% for order in orders %}
                <div>
                    <p>Order by: {% firstof order.user.firstname order.user.username %}</p>
                    <p>Delivery address: {{ order.delivery_address }}</p>
                    <p>Promocode: {{ order.promocode }}</p>
                    <p>Created at: {{ order.created_at }}</p>
                    <div>
                        Products in order:
                        <ul>
                        {% for product in order.products.all %}
                            <li>{{ product.name }} for ${{ product.price }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3>No orders yet</h3>
    {% endif %}
    <a href="http://127.0.0.1:8000/shop/"><- На главную</a>
{% endblock %}